/* Utility classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.container-sm {
  max-width: 900px;
  margin: 0 auto;
}

/* Text */
.text-dark {
  color: var(--dark);
}

.text-primary {
  color: var(--primary);
}

.text-light {
  color: var(--white);
}

.text-secondary {
  color: var(--secondary);
}

/* Background */
.bg-light {
  background-color: var(--white);
  color: var(--dark);
}

.bg-dark {
  background-color: var(--dark);
  color: var(--white);
}

.bg-primary {
  background-color: var(--primary);
  color: var(--white);
}

.bg-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  color: var(--white);
  border-radius: 6px;
  background-color: var(--primary);
  border: none;
  transition: background 0.5s;
}

/* .btn:hover {
  background-color: hsl(234, 100%, 66%, 0.9);
} */

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

.btn-dark {
  background-color: var(--dark);
  color: var(--white);
}
